<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Packages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (branches || @branches).each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= link_to branch.project.name, branch.project %></td>
        <td><%= branch.packages.count %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

