<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th>Packages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (branches).each do |branch| %>
      <tr>
        <td><%= project_link branch.project %></td>
        <td><%= branch_link branch %></td>
        <td><%= branch.packages.count %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

