<h1><%= @branch.name %> <small><%= @branch.project.name %></small></h1>

You can import this branch using the following directive:

<pre>
deb http://debian.example.com/ <%= @branch.project.name.downcase %> <%= @branch.name.downcase %>
</pre>

<h2>Packages</h2>

<%= render partial: 'packages/table', locals: { packages: @branch.packages } %>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
