<p id="notice"><%= notice %></p>

<h1><%= @branch.project.name %>:  <%= @branch.name %></h1>

<h2>Packages</h2>

<%= render partial: 'packages/table', locals: { packages: @branch.packages } %>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
