<h1><%= @branch.project.name %>:  <%= @branch.name %></h1>

You can import this branch using the following directive:

<pre>
deb http://debian.example.com/ <%= @branch.project.name %> <%= @branch.name %>
</pre>

<h2>Packages</h2>

<%= render partial: 'packages/table', locals: { packages: @branch.packages } %>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
