<h1><%= @branch.name %> <small><%= @branch.project.name %></small></h1>

You can import this branch using the following directive:

<pre>
deb http://debian.example.com/ <%= @branch.project.name.downcase %> <%= @branch.name.downcase %>
</pre>

<h2>Packages</h2>

<%= form_tag 'add_packages' do %>
  <%= hidden_field_tag :branch_id, @branch.id %>
  <div class="form-inline">
    <%= select_tag 'debfile_ids[]', options_for_select(@debfiles) %>
  </div>
<% end %>


<%= render partial: 'packages/table', locals: { packages: @branch.packages } %>

