<h1>Library <small><%= @library.size %> <%= @library.path %></small></h1>

<div class="pull-right"><%= button_to "Delete and Rescan", rescan_library_path, class: "btn btn-warning" %></div>

<%= form_tag 'branches/add_packages' do %>

<p>
  <div class="form-inline">
    <%= submit_tag "Add packages to branch: ", class: "btn btn-primary form-control" %>
    <%= select_tag :branch_id, options_for_select(@branches), class: "form-control" %>
  </div>
</p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th width="5px"></th>
      <th>Name</th>
      <th>Version</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @debfiles.each do |deb| %>
    <tr>
      <td><%= check_box_tag "debfile_ids[]", deb.id %></td>
      <td><%= link_to deb.name, deb %></td>
      <td><%= deb.version %></td>
      <td><%= deb.megabytes %> MB</td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
