<p id="notice"><%= notice %></p>

<h1>Project:  <%= @project.name %></h1>

<h2>Branches</h2>

<%= render partial: 'branches/table', locals: { branches: @project.branches } %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
