
<h1>Project: <%= @project.name %></h1>

<h2>Branches</h2>

<%= form_for(Branch.new) do |f| %>
  <p><%= f.text_field :name, placeholder: "Branch Name" %> <%= f.submit %></p>
  <%= f.hidden_field :project_id, value: @project.id %>
<% end %>

<%= render partial: 'branches/table', locals: { branches: @project.branches } %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
