<div class="pull-right ops button-group">
  <%= link_to glyph('edit'), edit_project_path(@project), class: "btn btn-sm btn-success" %>
</div>

<h1>Project: <%= @project.name %></h1>

This project has two branches.  You can import them all using this directive:

<pre>
deb http://debian.example.com/ <%= @project.repo_name %> <%= @project.repo_names.join(' ') %>
</pre>

<h2>Branches</h2>

<%= form_for(Branch.new) do |f| %>
  <div class="form-inline">
    <%= f.text_field :name, placeholder: "Branch Name", class: "form-control" %> <%= f.submit class: "form-control btn btn-primary" %>
  </div>
  <%= f.hidden_field :project_id, value: @project.id %>
<% end %>

<%= render partial: 'branches/table', locals: { branches: @project.branches } %>

